{% extends '::chp.base.html.twig' %}

{% block meta %}
    {{ parent() }}
    {% if page_keywords %}
        <meta name="keywords" content="{{ page_keywords }}">
    {% endif %}
    {% if page_description %}
        <meta name="description" content="{{ page_description }}">
    {% endif %}
{% endblock %}
{% block title %}{{ page_title|default(page_name ~ ' | Corpus Christi Business News') }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src='{{asset('themes/'~ theme ~'/js/vendor/modernizr.js') }}'></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- Modules -->

    <!-- End Modules -->
    <link rel='stylesheet' href="{{ asset('themes/'~ theme ~'/css/foundation.css') }}">
{% endblock %}

{% block body %}
    <header class="l-container">
        <ul class="b-breadcrumbs f-breadcrumbs h-breadcrumbs">
            <li class="back"><a class="b-btn-sm f-btn-sm b-btn-sm_black" href="javascript: history.go(-1)">Back</a>&nbsp;»&nbsp;</li>
            <li><span class="b-breadcrumbs-current f-breadcrumbs-current">{{ page_name }}</span></li>
            <li>{{ page_edit() }}</li>
        </ul>
        {% if logo_image %}
            <div class="b-logo">
                <img src="{{ logo_image }}">
            </div>
        {% endif %}
    </header>

    <div class="b-content_wr">
        {{ slider()|raw }}
    </div>

    <div class='row'>
        <div class="large-9 columns" role="content">
        <article>
            <h3>{{ page_name }}</h3>
            {{ content }}
        </article>
    </div>

    <aside class='large-3 columns'>
        <ul class='side-nav text-right'>
            <li>{{ social_media_links_widget() }}</li>
            <li>{{ ad_rotator() }}</li>
            <li>{{ coupons() }}</li>
            <li>{{ phones() }}</li>
            <li>{{ customer_website() }}</li>
            <li>{{ fax()}}</li>
            <li>{{ addresses() }}</li>
            <li>{{ email_form() }}</li>
            <li>{{ opentable_widget() }}</li>
            <li>{{ miscellaneous_text() }}</li>
            <li>{{ expedia() }}</li>
        </ul>
    </aside>

    <footer class='row'>
        <div class='small-12 columns'>
            {{ footer_text }}
        </div>
    </footer>

    <link rel='stylesheet' href="{{ asset('bundles/picayuneapplication/opentable/opentable.css') }}">
    <script src='{{asset('themes/'~ theme ~'/js/vendor/jquery.js') }}'></script>
    <script src='{{asset('themes/'~ theme ~'/js/foundation.min.js') }}'></script>
{% endblock %}
